<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">
  <script src="https://kit.fontawesome.com/cbf673a7d4.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <h1 class="title"><span class="logo">Bank</span> Support Portal</h1>
  <form id="app" @submit="checkForm" method="post" class="form">
    <div class="login-form-container">
      <div class="login-container">
        <label for="login"></label>
        <i class="fas fa-user"></i>
        <input type="text" name="login" id="login" v-model="login" placeholder="E-mail" @focus="onFocusUser"
          @blur="onBlurUser">
        <div v-if="errors.username" class="error-user"><i class="fas fa-times"></i></div>
        <div v-if="errors.username" class="error-message">{{ errors.username }}</div>
        <div v-if="approve.username" class="approve-username"><i class="fas fa-check"></i></div>
      </div>

      <div class="password-container">
        <label for="password"></label>
        <i class="fas fa-lock"></i>
        <input type="password" name="password" id="password" v-model="password" placeholder="Password"
          @focus="onFocusPass" @blur="onBlurPass">
        <div v-if="errors.password" class="error-password"><i class="fas fa-times"></i></div>
        <div v-if="errors.password" class="error-message">{{ errors.password }}</div>
        <div v-if="approve.password" class="approve-password"><i class="fas fa-check"></i></div>
      </div>

      <p>
        <input type="submit" value="Login" class="login-button">
      </p>

      <p class="forgot-pass-message">Forgot your password? <a href="#" class="reset-pass-message">Reset it here.</a></p>

    </div>
  </form>
  <script src="script.js"></script>
</body>

</html>