@media (min-width: 768px) and (max-width: 1598px) {
  nav {
    order: 3;
    font-size: 20px;
    height: 42px;
    position: relative;
  }

  .header-navbar__hamburger span {
    margin: 0px;
  }

  .header-login {
    display: block !important;
    font-size: 20px;
    padding-right: 15px;
  }

  .header-logo {
    font-weight: bold;
    padding-left: 50px;
  }

  .dot-container-pic {
    right: 41%;
  }

  .header-proposal {
    order: 1;
    align-items: center;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 5px 0px;
    margin: 0px;
    height: 20px;
  }

  .last {
    border-bottom: 1px solid black !important;
  }

  .header-navbar__item {
    height: 40px;
    border-right: 2px solid black;
  }

  .header-navbar__subcategories {
    font-size: 20px;
  }

  .active-icons {
    border-bottom: 2px solid black;
    display: flex !important;
  }

  .shoping-cart__container_info-title {
    font-size: 23px;
    padding: 12px 0px 5px 12px;
  }

  .amount {
    height: 19px;
    width: 35px;
  }

  .shoping-cart__container-wrapper {
    height: 350px;
  }

  .shoping-cart__container-title {
    padding: 8px 0px 8px 11px;
  }

  .shoping-cart__container_info-title {
    font-size: 16px;
    padding: 15px 0px 5px 12px;
  }

  .all-products__container {
    padding: 0px 20px 0px 20px;
  }

  .main-pic-container {
    order: 2;
    height: 460px;
  }

  .slide-pic {
    background-size: cover;
    position: absolute;
    z-index: 0;
    height: 460px;
    width: 100%;
  }

  .slidepic-container {
    height: 460px;
    width: 100%;
  }

  .dots.active {
    background-color: black;
    height: 18px;
    width: 18px;
  }

  .dots {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin: 0 2px;
    background-color: white;
  }

  .top-product__oldprice {
    display: block;
  }

  .top-product_wrapper {
    width: 97%;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
  }

  .top-product__picture-container {
    display: flex;
    flex-direction: column;
    margin: 3px;
  }

  .top-products-slider {
    position: relative;
  }

  .slider-blur-left {
    position: absolute;
    background: linear-gradient(to right, white, transparent);
    height: 280px;
    width: 210px;
    z-index: 1;
  }

  .slider-blur-right {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to left, white, transparent);
    height: 280px;
    width: 180px;
    z-index: 1;
  }

  .top-products__wrapper {
    display: flex;
    transform: translateX(0%);
    transition: transform 0.6s ease-in-out;
    height: 320px;
  }

  .fa-tags {
    display: block;
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 45px;
  }

  .top-products__item p {
    position: absolute;
    top: 0px;
    left: 30px;
    font-size: 14px;
    color: white;
    font-weight: bold;
  }

  .top-products__item {
    flex: 0 0 26.5%;
    border: none;
  }

  .top-products__item img {
    height: 275px;
  }

  .top-product__slider-control {
    transform: translateX(-26.5%);
    z-index: 1;
  }

  .all-products__container-item:nth-child(1) {
    width: calc(98%/2);
    margin-right: 2%;
    height: 260px;
  }

  .all-products__container-item:nth-child(2) {
    width: calc(98%/2);
    height: 260px;
  }

  .all-products__container-item:nth-child(3) {
    width: 64%;
    margin-right: 2%;
    height: 260px;
  }

  .all-products__container-item:nth-child(4) {
    width: 34%;
    height: 260px;
  }

  .all-products__container-item:nth-child(5) {
    width: 36%;
    margin-right: 3%;
    height: 260px;
  }

  .all-products__container-item:nth-child(6) {
    width: 61%;
    height: 260px;
  }

  h2 {
    font-size: 18px;
  }

  .pointer {
    display: flex;
    align-items: center;
  }

  .social,
  .usage-slider,
  .actions-container {
    padding: 0px 20px 0px 20px
  }

  .usage-photo__container-item,
  .social-photos__container-item,
  .social-photos__container-item.active,
  .usage-photo__container-item.active {
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 1;
  }

  .social-photos__container-item {
    flex: 0 0 18%;
    border: solid white 3px;
  }

  .usage-photo__container-item {
    flex: 0 0 24%;
    border: solid white 3px;
  }

  .show-slider-bur-left,
  .show-slider-bur-left.usage,
  .show-slider-bur-right.usage,
  .show-slider-bur-right,
  .top-product__slider-control,
  .top-products__item-buy,
  .header-proposal__dot-container,
  .social-photos__container-item .fa-heart,
  .footer-logo {
    display: none;
  }

  .social-photos__container-item.active {
    height: 180px;
  }

  .usage-photo__container-item.active {
    height: 220px;
  }

  .top-product__picture-container .top-product__picture-item {
    opacity: 1;
  }

  .social-photos__container-item {
    height: 135px;
  }

  .actions-container__item:nth-child(1) {
    position: relative;
    margin-right: 35px;
    font-size: 13px;
    width: 125px;
  }

  .actions-container__item:nth-child(1)::after {
    content: '';
    position: absolute;
    right: -44px;
    bottom: -1px;
    border: 26px solid transparent;
    border-left: 20px solid black;
  }

  .actions-container__item:nth-child(2) {
    width: 225px;
    margin-right: 15px;
    font-size: 14px;
  }

  .actions-container__item:nth-child(3) {
    width: 40%;
    margin-right: 15px;
    font-size: 14px;
  }

  .actions-container__item:nth-child(4) {
    width: 22%;
    font-size: 14px;
  }

  .usage-photo__container-item {
    height: 170px;
  }

  .actions {
    padding: 40px 0px 40px 0px
  }

  .actions-container {
    display: flex;
    margin: 0px;
    justify-content: space-between;
  }

  .active {
    height: auto;
  }

  .actions-container__item {
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-list_container {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  footer {
    background-color: rgb(241, 241, 241);
    font-size: 20px;
    text-align: center;
  }

  footer span {
    font-size: 35px;
    font-weight: bold;
  }

  footer {
    background-color: black;
    color: white;
    font-size: 11px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 5px;
    justify-content: space-between;
    height: 35px;
  }

  .footer-list_container {
    display: flex;
    flex-direction: row;
  }

  .footer-list_container-item,
  .footer-icons {
    padding: 5px 15px 5px 10px;
  }

  footer .fab {
    padding: 0px 5px;
    font-size: 13px;
  }
}